html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  letter-spacing: 0.14rem;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
}

body {
  filter: brightness(175%);
  margin: 0.6rem;
  padding: 0;
  background: rgb(204, 204, 255);
  background: linear-gradient(
    90deg,
    rgba(204, 204, 255, 1) 0%,
    rgba(254, 198, 198, 1) 50%,
    rgba(238, 255, 238, 1) 100%
  );
}

html,
body {
  max-height: 100%;
}

button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page {
  padding: 0.8rem;
  margin: 0;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.start-button {
  transition: all 0.15s ease-out;
}

.start-button:hover {
  background-color: rgba(255, 0, 0, 0.35);
}

.padding-v-large {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.padding-h-large {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.small-width {
  width: 20%;
}

.right {
  margin-left: auto;
}

.left {
  margin-right: auto;
}

.box-shadow {
  box-shadow: 3px 10px rgba(0, 0, 0, 0.65);
}

.ls-medium {
  letter-spacing: 0.2rem;
}

.font-small {
  font-size: 0.5rem;
}

.font-large {
  font-size: 0.8rem;
}

.hidden {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.thin {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.green-alternative {
  background-color: rgb(238, 255, 238);
}

.red-alternative {
  background-color: rgba(255, 0, 0, 0.45);
}

.mid-opacity {
  opacity: 0.7;
}

.white-text {
  color: #fff;
}

.green-text {
  color: rgb(238, 255, 238);
}

.line-for-text {
  margin: 0;
  padding: 0.065rem;
  border: 0;
  opacity: 0.55;
}

.transparent {
  background-color: transparent;
}

.border-green {
  border-width: 0.2rem;
  border-color: green;
}
